<div class="form-content">
    <div *ngIf="isSave" class="alert alert-success" role="alert">
        Student Added Sucessfully
    </div>
    <h3>STUDENTS</h3>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name *</label>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                        [ngClass]="{'is-invalid': submitted && f.firstName.errors }" required [(ngModel)]='firstName' />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>

                </div>
                <input type="hidden" class="form-control" formControlName="studentId" [(ngModel)]='studentId' />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name *</label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required [(ngModel)]='lastName' />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">Address *</label>
                    <input type="text" class="form-control" placeholder="Address" formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required [(ngModel)]='address' />
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="school">School *</label>
                    <input type="text" class="form-control" placeholder="School" formControlName="school"
                        [ngClass]="{ 'is-invalid': submitted && f.school.errors }" required [(ngModel)]='school' />

                    <div *ngIf="submitted && f.school.errors" class="invalid-feedback">
                        <div *ngIf="f.school.errors.required">School is required</div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="age">Age *</label>
                    <input type="number" class="form-control" placeholder="Age" min="0" step="1" formControlName="age"
                        [ngClass]="{ 'is-invalid': submitted && f.age.errors }" required [(ngModel)]='age' />

                    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                        <div *ngIf="f.age.errors.required">Age is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" email placeholder="Email" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required [(ngModel)]='email' />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="homeTelephone">Telephone(Home) *</label>
                    <input type="text" class="form-control" placeholder="+94 23 456 789" formControlName="telephone"
                        [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" required [(ngModel)]='telephone'
                        maxlength="12" />
                    <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                        <div *ngIf="f.telephone.errors.required">telephone is required</div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="mobileTelephone">Telephone(Mobile)</label>
                    <input type="text" class="form-control" id="mobileTelephone" placeholder="+94 77 123 456"
                        [(ngModel)]='mobileTelephone' formControlName="mobileTelephone" maxlength="12" />
                </div>
            </div>
        </div>

        <button type="reset" class="btn btn-secondary mr-2">Reset</button>
        <button *ngIf="!isUpdate" type="submit" class="btn btn-primary">Add</button>
        <button *ngIf="isUpdate" type="submit" class="btn btn-primary">Update</button>
    </form>
    <div class="row">
        <div class="col-md-12 mt-3">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>School</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Telephone(Home)</th>
                        <th>Telephone(Mobile)</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{student.firstName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>{{student.address}}</td>
                        <td>{{student.school}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.telephone}}</td>
                        <td>{{student.mobileTelephone}}</td>
                        <td class="edit"><button (click)="editStudent(student.studentId)"
                                class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
                        </td>
                        <td class="edit"><button (click)="deleteStudent(student.studentId)"
                                class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>